.cover-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    border-radius: 5px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    text-align: center;
    position: relative;
}
.bg-text {
    top: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 35%;
    color: #f0f0f0;
    background: #00000073;
    padding: 5px;
    border-radius: 50%;
    height: 280px;
    width: 280px;
}
.bg-text img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.bg-text h1 {
    font-family: cursive;
}
/*th {*/
/*    vertical-align: initial;*/
/*    padding-right: 5px;*/
/*    white-space:nowrap*/
/*}*/
/*td {*/
/*    vertical-align: initial;*/
/*    width: 100%;*/
/*}*/
.alert {
    z-index: 10000;
}
.card {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}
.text-active {
    color: #0d6efd!important;
}
